<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Prop Logic Mastery</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:href="@{/js/bootstrap.min.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-mml-chtml.js"></script>

</head>
<body>

<h3 class="display-4 text-center">Practice Propositional Logic</h3>

<!--/*@thymesVar id="question" type="Question"*/-->
<div class="card p-4 m-auto w-50">
    <form th:if="${question == null}" action="#" th:action="@{/practice}" method="post">
        <button class="btn btn-primary">Start</button>
    </form>
    <form class="bg-light" action="#" th:unless="${question == null}" th:action="@{/practice}" th:object="${question}"
          method="post">
        <div class="card-header">
            <h4 th:text="${question.question}"></h4>
        </div>
        <div class="card-body">
            <div th:each="answer : ${question.getAnswers()}">
                <div class="form-check">
                    <input type="radio" class="form-check-input" th:field="*{userChoice}" th:id="${answer}"
                           th:value="${answer}">
                    <label class="form-check-label" th:for="${answer}" th:text="${answer}"></label>
                </div>
            </div>
            <div th:if="${userAnswered}">
                <div class="alert alert-success" th:if="${userCorrect}">Good Job!</div>
                <div class="alert alert-danger" th:unless="${userCorrect}">Incorrect</div>
            </div>
        </div>
        <button type="submit" value="Submit" class="card-footer btn btn-outline-secondary">Submit</button>
    </form>
</div>


<script src="https://unpkg.com/htmx.org@1.9.12"></script>
</body>
</html>